<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Awesome site!</title>
</head>
<body>
<style>
    .quadro{
        display: inline-block;
        width:100px;
        height: 100px;
        border: 2px solid black;
        border-radius: 10px;
        color: white;
        background: red;
        text-align: center;

    }
    header{
        width: 100%;
        height: 50px;
        background: #affff1;
    }

    </style>
    <header>
        <h1> Мой сайт </h1>
    </header>


        {% block content %}

        {% endblock %}

    </body>
    </html>